
section{
    text-align: center;
}

.buttons{
    width: 90px;
    font-size: 1em;
    margin-right: 6px;
    font-weight: bold;
}

button#turnOn{
    background-color: rgb(127, 217, 127);
}

button#turnOff{
    background-color: rgb(250, 102, 102);
}

